<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="FarmParameterConfigurationFilePath" value="C:\Users\jread\source\testdata\CalibrationFileEditer\default\farmParameters.json" />
    <add key="FeedParameterConfigurationFilePath" value="C:\Users\jread\source\testdata\CalibrationFileEditer\default\feedParameters.json" />
    <add key="MinimumWavelength" value="930"/>
    <add key="MaximumWavelength" value="1646"/>
    <add key="Resolution" value="2"/>
  </appSettings>
</configuration>