<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aunir.SpectrumAnalysis.FileIO" version="1.0.38" targetFramework="net461" />
  <package id="Aunir.SpectrumAnalysis.Interfaces" version="1.0.17" targetFramework="net461" />
  <package id="Aunir.SpectrumAnalysis.Standardisation" version="1.0.2" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MathNet.Numerics" version="4.7.0" targetFramework="net461" />
</packages>