<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aunir.SpectrumAnalysis2.DotNetStandard" version="3.0.22" targetFramework="net461" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="MathNet.Numerics" version="3.20.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
</packages>